* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
}

.logo {
  color: #38bdf8;
}

.section {
  padding: 100px 50px;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home span {
  color: #38bdf8;
}

.skills span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
}

.cert-list li {
  margin: 10px 0;
}

form {
  max-width: 400px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #1e293b;
  border: none;
  color: white;
}

button {
  background: #38bdf8;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}
